<!DOCTYPE html>
<html lang="en">

	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>College Compass</title>
    <!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300' rel='stylesheet' type='text/css'>
    <!-- Flaticon CSS -->
    <link href="/fonts/flaticon/flaticon.css" rel="stylesheet">
    <!-- font-awesome CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- owl.carousel CSS -->
    <link href="/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- Offcanvas CSS -->
    <link href="/css/hippo-off-canvas.css" rel="stylesheet">
    <!-- animate CSS -->
    <link href="/css/animate.css" rel="stylesheet">
	<!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/collegeliststyle.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <script src="/js/vendor/modernizr-2.8.1.min.js"></script>

	</head>


	<body>

	  <div id="st-container" class="st-container">
	    <div class="st-pusher">
	      <div class="st-content">
	        <div class="st-content-inner">
			 	<header>
               <%- include("./partials/nav.ejs") %>
				</header>
				<section class="page-header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="page-header">
								  <h1>COLLEGE LIST</h1>
								</div>
							</div>
						</div><!-- /.row -->
					</div><!-- /.container-fluid -->
				</section>
				<div class="container">
					<div class="content-wrapper">
						<div class="contact-us-wrapper">
							<div class="row">
                                <ul>
                                    <% if (colleges.length > 0) { %>
                                       <% colleges.forEach((college, index) => { %>
                                          <li>
                                             <div class="collegelistbox1">
                                                <div class="numberbox">
                                                   <div class="number"><%= index + 1 %></div>
                                                </div>
                                                
                                                <div class="details">
                                                  <div class="details-container">
                                                    <div class="collegename"> <%= college.name %></div>
                                                    <div class="collegebranch">
                                                      <!-- <% if (Array.isArray(branches)) { %>
                                                        <% branches.forEach((branch) =>{ %>
                                                          <div class="branch">
                                                            <%= branch.toUpperCase()%>
                                                          </div>
                                                          <% }) %>
                                                      <% } else {%>
                                                        <div class="branch">Branch :
                                                          <%= branches %>
                                                        </div>
                                                      <% } %> -->
                                                      <%= college.branch.toUpperCase() %> , Last Rank :
                                                      <%= college.lastrank %>
                                                    </div>
                                                  </div>
                                                  <!-- <div class="rank">LAST RANK : 11600</div> -->
                                                  <div class="websitebox">
                                                    <a href="<%= college.link %>"><%= college.link %></a>
                                                  </div>  
                                                </div>
                                             </div>
                                          </li>
                                       <% }) %>

                                    <% } else { %>
                                       <p>No colleges found</p>
                                    <% } %>
                                </ul>           
                            </div>
                        </div>
                    </div>
                </div>               